[Unit]
Description=Pimp-my-Gimp service
After=network.target

[Service]
User={{ raspi_user }}
Group={{ raspi_user }}
WorkingDirectory={{ gimp_path }}
ExecStart={{ gimp_path }}/run.sh
Restart=always
KillSignal=SIGINT
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target